<?xml version="1.0" encoding="utf-8"?>

<alt_minimap>
  <!--
       Общие настройки миникарты:
       <map [прозрачность] [перемещать цифры] [перемещать буквы]/>
       [прозрачность]     - alpha="{число от 0 до 1}".
       0 - полностью прозрачная миникарта, 1 - полность НЕпрозрачная.
       По умолчанию: 1

       [перемещать цифры] - swapDigits="{true/flase}".
       true - переместить, false - оставить как есть.
       По умолчанию: false

       [перемещать буквы] - swapLatters="{true/flase}".
       true - переместить, false - оставить как есть.
       По умолчанию: false
  -->

  <map alpha="0.7" swapDigits="false" swapLetters="true">
  <!--
       Настройки масштабирования
       <size [индекс] [масштаб]/>
       
       [индекс]   - index="{целое от 1 до 7}"
       Порядковый номер данного масштабирования

       [масштаб]  - mapScale="{число}"
       Масштаб "миникарты"
  -->  
    <size index="1" mapScale="1.5"/>
    <size index="2" mapScale="2"/>
    <size index="3" mapScale="2.5"/>
    <size index="4" mapScale="2.75"/>
    <size index="5" mapScale="3"/>
    <size index="6" mapScale="3.5"/>
    <size index="7" mapScale="4"/>
  </map>


  <markers>
    <!--
         Настройки маркеров кораблей

         [Менеджер Форматов]
         <[Тип]>
         Настройки текстовой метки
         </[Тип]>

         [Менеджер Форматов]:
         Отвечает за переопределение форматов текстовых меток кораблей в зависимости от типа боя

         <formatManager>
           <[Формат]>
         </formatManager>

         [Формат]:
         <format [тип боя]>
           <[Тип]>
           Настройки текстовой метки
           </[Тип]>
         </format>

         [тип боя] - battleType="{строка}".
           Поддерживаются следующие типы боев:
           TrainingBattle    - тренировочный
           RandomBattle      - случайный
           CooperativeBattle - кооп.
           RankedBattle      - ранговый
           ClubBattle        - коммандный
           PVEBattle         - компания
           ClanBattle        - клановый
         
         [Тип]:
         ally - союзник (игрок твоей команды)
         friend - друг (игрок твоего отряда)
         teamKiller - т.н. тим-киллер
         enemy - враг (игрок противоположной команды)

         Настройки текстовой метки
         <label>
         <text [формат] [цвет] [шрифт] [размер] [длина] [суффикс]>
         Доп. визуальные эффекты текса
         </text>
         <offset [смещение по горизонтали] [смещение по вертикали]/>
         </label>

         Настройки текста:
         [формат]  - format="{строка}".
         Задает формат текстовой метки. Может содержать спец. символы, значение которых доп. обрабатывается ч/з [словарь автозамены].
         Доступны след. спец. символы:
         %name%          - название корабля
         %upperName%     - название корабля заглавными буквами. ВАЖНО. Значение это спец. символа не обрабатывается ч/з [словарь автозамены]
         %country%       - страна
         %level%         - уровень корабля
         %levelRome%     - уровень корабля римскими цыфрами
         %nickname%      - игровой псевдоним игрока. ВАЖНО. Значение это спец. символа не обрабатывается ч/з [словарь автозамены]
         %pureNickname%  - игровой псевдоним игрока без кланового тэга. ВАЖНО. Значение это спец. символа не обрабатывается ч/з [словарь автозамены]

         По умолчанию: %name%

         [цвет]    - color="{целое число}".
         Задает цвет текста метки.
         По умолчанию: 0xffffff (белый)

         [шрифт]   - font="{строка}".
         Задает шрифт метки. Доступты следующие значения ВСТРОЕННЫХ шрифтов:
         $WWSDefaultFont     - основной шрифт игры
         $WWSDefaultFontBold - основной шрифт игры "жирный"
         $Exo2               - шрифт данного мода
         В качестве значения можно использовать и названия шрифтов, установленных на компьютере.
         По умолчанию: $Exo2

         [размер]  - size="{целое число}".
         Задает кегль (размер) шрифта метки.
         По умолчанию: 9

         [длина]   - length="{целое число}".
         Задает МАКСИМАЛЬНУЮ допустимую длину текста метки. Если длина текста превышает это значение,
         текст "обрезается" и к нему добовляется [суффикс].
         По умолчанию: 10

         [суффикс] - suffix="{строка}".
         Задает "окончание" текстовой метки. Это значение используется только тогда,
         когда длина текста метки превышает значение заданное в [длина].
         По умолчанию: ...

         Доп. визуальные эффекты текста
         Список "эффектов", применяемых к тексту маркера. Доступны следующие эффекты:

         <glow [Параметры свечения]/> - Свечение ("абрис") текста
         [Параметры свечения]:
         color="{целое число}"     - Цвет
         alpha="{число от 0 до 1}" - Прозрачность. 1 - полностью непрозрачно. 0 - полночтью прозрачно.
         x="{число}"               - Степень размытия по горизонтали
         y="{число}"               - Степень размытия по вертикали
         strength="{число}"        - Интенсивность

         <shadow [Параметры тени]/> - Тень текста
         [Параметры тени]:
         color="{целое число}"     - Цвет
         alpha="{число от 0 до 1}" - Прозрачность. 1 - полностью непрозрачно. 0 - полночтью прозрачно.
         x="{число}"               - Степень размытия по горизонтали
         y="{число}"               - Степень размытия по вертикали
         strength="{число}"        - Интенсивность
         angle="{число}"           - Угол, отрабрасывания тени
         distance="{число}"        - Расстояние смещения для тени (в пикселях)

         Список эффектов может содержать более одного эффекта каждого типа (т.е. может быть описано, например, два разных glow).
         Эффекты применяются в том же порядке, в котором они описаны.

         Настройки смещения текстовой метки
         Смещение задается в пикселях, относительно центра макера

         [смещение по горизонтали] - x="{число}"
         По умолчанию: 0

         [смещение по вертикали]   - y="{число}"
         По умолчанию: 3

    -->
    <ship>
      <formatManager>
        <format battleType="TrainingBattle">
          <ally>
            <text format="%upperName%" font="$WWSDefaultFont" color="0x45e7ae" size="9" length="0" suffix="">
              <shadow color="0x000000" x="1" y="1" alpha="0.6" angle="90" strength="1" distance="0" />
            </text>
          </ally>
        </format>
      </formatManager>

      <ally>
        <label>
          <text format="%upperName%" font="$WWSDefaultFont" color="0x45e7ae" size="9" length="15" suffix="">
            <shadow color="0x000000" x="1" y="1" alpha="0.6" angle="90" strength="1" distance="0" />

            <!--glow color="0x000000" alpha="0.5" x="2" y="2" strength="1"/-->
          </text>
          <offset x="0" y="5" />
        </label>
      </ally>

      <friend>
        <label>
          <text format="%pureNickname%" font="$WWSDefaultFont" color="0xffe00d" size="9" length="15" suffix="">
            <shadow color="0x000000" x="1" y="1" alpha="0.6" angle="90" strength="1" distance="0" />
            <!--glow color="0x000000" alpha="0.5" x="2" y="2" strength="1"/-->
          </text>
          <offset x="0" y="5" />
        </label>
      </friend>

      <teamKiller>
        <label>
          <text format="%upperName%" font="$WWSDefaultFont" color="0xffabff" size="9" length="15" suffix="">
            <shadow color="0x000000" x="1" y="1" alpha="0.6" angle="90" strength="1" distance="0" />
            <!--glow color="0x000000" alpha="0.5" x="2" y="2" strength="1"/-->
          </text>
          <offset x="0" y="5" />
        </label>
      </teamKiller>

      <enemy>
        <label>
          <text format="%upperName%" font="$WWSDefaultFont" color="0xf13c13" size="9" length="15" suffix="">
            <shadow color="0x000000" x="1" y="1" alpha="0.6" angle="90" strength="1" distance="0" />
            <!--glow color="0x000000" alpha="0.5" x="2" y="2" strength="1"/-->
          </text>
          <offset x="0" y="5" />
        </label>
      </enemy>
    </ship>


    <!--
         Настройки маркеров эскадрилий
         <[Тип]>
         Настройки текстовой метки
         </[Тип]>

         [Тип]:
         own - эскадрильи под своим управлением

         Настройки текстовой метки
         <label>
         <text [формат] [цвет] [шрифт] [размер] [длина] [суффикс]>
         Доп. визуальные эффекты текса
         </text>
         <offset [смещение по горизонтали] [смещение по вертикали]/>
         </label>

         Настройки текста:
         [формат]  - format="{строка}".
         Задает формат текстовой метки. Может содержать спец. символы.
         Доступны след. спец. символы:
         %cmd% - Текстовое представление команды выбора данной эскадрильи

         [цвет]    - color="{целое число}".
         Задает цвет текста метки.
         По умолчанию: 0xffffff (белый)

         [шрифт]   - font="{строка}".
         Задает шрифт метки. Доступты следующие значения ВСТРОЕННЫХ шрифтов:
         $WWSDefaultFont     - основной шрифт игры
         $WWSDefaultFontBold - основной шрифт игры "жирный"
         $Exo2               - шрифт данного мода
         В качестве значения можно использовать и названия шрифтов, установленных на компьютере.
         По умолчанию: $Exo2

         [размер]  - size="{целое число}".
         Задает кегль (размер) шрифта метки.
         По умолчанию: 9

         [длина]   - length="{целое число}".
         Задает МАКСИМАЛЬНУЮ допустимую длину текста метки. Если длина текста превышает это значение,
         текст "обрезается" и к нему добовляется [суффикс].
         По умолчанию: 10

         [суффикс] - suffix="{строка}".
         Задает "окончание" текстовой метки. Это значение используется только тогда,
         когда длина текста метки превышает значение заданное в [длина].
         По умолчанию: ...

         Доп. визуальные эффекты текста
         Список "эффектов", применяемых к тексту маркера. Доступны следующие эффекты:

         <glow [Параметры свечения]/> - Свечение ("абрис") текста
         [Параметры свечения]:
         color="{целое число}"     - Цвет
         alpha="{число от 0 до 1}" - Прозрачность. 1 - полностью непрозрачно. 0 - полночтью прозрачно.
         x="{число}"               - Степень размытия по горизонтали
         y="{число}"               - Степень размытия по вертикали
         strength="{число}"        - Интенсивность

         <shadow [Параметры тени]/> - Тень текста
         [Параметры тени]:
         color="{целое число}"     - Цвет
         alpha="{число от 0 до 1}" - Прозрачность. 1 - полностью непрозрачно. 0 - полночтью прозрачно.
         x="{число}"               - Степень размытия по горизонтали
         y="{число}"               - Степень размытия по вертикали
         strength="{число}"        - Интенсивность
         angle="{число}"           - Угол, отрабрасывания тени
         distance="{число}"        - Расстояние смещения для тени (в пикселях)

         Список эффектов может содержать более одного эффекта каждого типа (т.е. может быть описано, например, два разных glow).
         Эффекты применяются в том же порядке, в котором они описаны.

         Настройки смещения текстовой метки
         Смещение задается в пикселях, относительно центра макера

         [смещение по горизонтали] - x="{число}"
         По умолчанию: 0

         [смещение по вертикали]   - y="{число}"
         По умолчанию: 3
    -->
    <squadron>
      <own>
        <label>
          <text format="%cmd%" color="0xffffff" size="9" length="5" suffix="">
            <shadow color="0x000000" x="1" y="1" alpha="0.6" angle="90" strength="1" distance="0" />
          </text>
          <offset x="10" y="5" />
        </label>
      </own>
    </squadron>

    <!--
         Настройки дополнительного маркера цели
         <target [показывать направление]>
         Настройки дополнительного маркера
         </target>

         [показывать направление] - showDirectionLine="{true/false}"
         Показывать или нет "линию направления движения" цели. true - показывать, false - нет.
         По умолчанию: false

         Настройки дополнительного маркера
         <marker [активный] [изображение]/>

         [активный]    - active="{true/false}"
         Вкл. (true) или выкл. (false) дополнительный марке захваченной цели.
         Если маркер включен, то "стандартный" маркер не отображается.
         По умолчанию: false

         [изображение] - img="{строка}"
         Задает относительный путь до файла с изображением доп. маркера цели. Путь задается относительно папки alt_minimap\img ресурсов игры.
         По умолчанию: aim_mark.png
    -->
    <target showDirectionLine="false">
      <marker active="true" img="target_mark.png" />
    </target>

    <!--
         Настройки отображения "камеры"
         <camera>
         Настройки "линии визирования"
         Настройка "угла обзора"
         Настройка "маркера дальности стрельбы"
         </camera>

         Настройки "линии визирования"
         <sightLine [толщина] [цвет] [прозрачность]/>

         [толщина]      - thickness="{положительное число}"
         Задает толщину (в пикселях) "линии визирования".
         По умолчанию: 1

         [цвет]         - color="{целое число}"
         Задает цвет "линии визирования".
         По умолчанию: 0x7dffff

         [прозрачность] - alpha="{число от 0 до 1}"
         Задает прозрачность "линии визирования". 1 - полностью НЕпрозрачно. 0 - полночтью прозрачно.
         По умолчанию: 0.1

         Настройки "угла обзора"
         <fov [цвет] [прозрачность]/>

         [цвет]         - color="{целое число}"
         Задает цвет заливки "угла обзора".
         По умолчанию: 0x7dffff

         [прозрачность] - alpha="{число от 0 до 1}"
         Задает прозрачность заливки "угла обзора". 1 - полностью НЕпрозрачно. 0 - полночтью прозрачно.
         По умолчанию: 0.08

         Настройки "маркера дальности стрельбы"
         <distance [перерисовывать]>
         [парметры маркера]
         </distance>

         [перерисовывать] - reDraw="{true/false}"
         Использовать "стандартное" отображение (false), или нет (true)
         По умолчанию: false

         [параметры маркера]
         Маркер может быть представлен как загружаемая картинка, либо как спрайт.
         Если заданы оба варианта, будет использоваться загружаемая картинка.

         "Загружаемая картинка"
         <image [файл]/>
         [файл] - url="{строка}"
         Задает относительный путь до файла с изображением маркера дальности стрельбы. Путь задается относительно папки alt_minimap\img ресурсов игры.

         "Спрайт"
         <draw [Начальное положение "кисти"]>
         [Команды отрисовки]
         </draw>

         [Параметры отрисовки]
         <draw [Начальное положение "кисти"]>
         [Команды отрисовки]
         </draw>

         [Начальное положение "кисти"]
         x = {число} - смещение в пикселах по горизонтали. - влево, + вправо
         y = {число} - смещение в пикселах по вертикали. - вверх, + вниз

         [Команды отрисовки]
         Команды отрисовки выполняются последовательно в том порядке, в котором описаны в файле.
         Поддерживаются следующие команды:
         moveTo    - переместить "кисть"
         lineTo    - отрисовать линию
         lineStyle - задать "стиль" линии
         fill      - задать "заливку"
         circle    - отрисовать круг
         rect      - отрисовать прямоугольник

         <moveTo x = {число} y = {число}/>
         <lineTo x = {число} y = {число}/>

         <lineStyle [Параметры линии]>
         [Параметры линии]
         color = {целое}              - цвет линии (RGB)
         thickness = {целое}          - толщина линии в пикселах
         alpha = {число [0..1]}       - прозрачность линии
         caps = {none/square/round}   - "концы" линии. нет/крадраные/скругленные. По-умолчанию: скругленные
         joints = {bevel/miter/round} - "стык" линии. скос/угол/скруленный. По-умолчанию: скругленный

         <fill color = {целое} alpha = {цисло [0..1]}>
         [Команды отрисовки]
         </fill>

         <circle x = {число} y = {число} radius = {число}/>
         <rect  x = {число} y = {число} width = {число} height = {число}/>
    -->
    <camera>
      <sightLine thickness="1" color="0xffffff" alpha="0.5" />
      <fov color="0x7dfffff" alpha="0.08" />
      <distance reDraw="true">
        <draw x="-5" y="-5">
          <lineStyle color="0x000000" thickness="3" alpha="0.2" caps="none" joints="bevel" />
          <lineTo x="5" y="5" />
          <moveTo x="5" y="-5" />
          <lineTo x="-5" y="5" />

          <moveTo x="-5" y="-5" />
          <lineStyle color="0xffffff" thickness="1" alpha="1" caps="none" joints="bevel" />
          <lineTo x="5" y="5" />
          <moveTo x="5" y="-5" />
          <lineTo x="-5" y="5" />
        </draw>
      </distance>
    </camera>
  </markers>

  <!--
       Настройки отображения "дистанций"
       В общем виде, настройки "дистанции" имеют следующий формат:

       <[Тип] [перерисовывать] [скрывать метку]>
       Настройки "круга"
       </[Тип]>

       [перерисовывать] - reDraw="{true/false}"
       Использовать "стандартное" отображение (false), или нет (true)
       По умолчанию: false

       [скрывать метку] - hideLabel="{true/false}"
       Скрывать (true) или нет (false) текстовую метку "дистанции"
       По умолчанию: false

       Если в зависимости от [Тип] настройки "дистанции" имеют некоторые особенности, то об этом говорится отдельно в соответсвующем разделе.

       В общем виде, настройки "круга" имеют следующий формат:
       <circle [толщина] [цвет] [прозрачность]>
       <dash [настройки пунктира]/>
       </circle>

       [толщина]      - thickness="{положительное число}"
       Задает толщину (в пикселях) окружности.
       По умолчанию: 0

       [цвет]         - color="{целое число}"
       Задает цвет окружности.
       По умолчанию: 0xffffff

       [прозрачность] - alpha="{число от 0 до 1}"
       Задает прозрачность окружности. 1 - полностью НЕпрозрачно. 0 - полночтью прозрачно.
       По умолчанию: 0

       Тэг <dash> является опциональным, и используется только для задания "пунктирной" отрисовки "круга"
       [настройки пунктира]

       segments="{целое число}" - кол-во сегментов пунктира. "Пропуски" это тоже сегмент.
       По умолчанию: 360 (это означает 180 "штрихов" + 180 "пропусков")

       length="{не отрицательное число}" - длинна сегмента в пикселях.
       По-умолчанию: 10.


       Если в зависимости от [Тип] настройки "круга" имеют некоторые особенности, то об этом говорится отдельно в соответсвующем разделе.
  -->
  <ranges active="false">

    <search>
      <!--
           Настройки "дистанций" поисковых средств
           <search>
           <[Тип]>
           [Стандартные настройки "круга"]
           [Настройки заливки "круга"]
           </[Тип]>
           </search>

           [Тип]:
           sonarShip - зона обнаружения кораблей ГАП
           radarShip - зона обнаружения кораблей РЛС
      -->
      <sonarShip reDraw="true" hideLabel="false">
        <circle thickness="1" color="0x6699ff" alpha="0.5" />
        <fill color="0x3366ff" alpha="0.10" />
      </sonarShip>
      <radarShip reDraw="true" hideLabel="false">
        <circle thickness="1" color="0x009664" alpha="0.5" />
        <fill color="0x009664" alpha="0.3" />
      </radarShip>
    </search>

    <armament>
      <!--
           Настройки "дистанций" ПВО
           <antiAir>
           <[Тип] [Стандартные настройки "дистанции"] [скрывать]>
           [Стандартные настройки "круга"]
           </[Тип]>
           </antiAir>

           [Тип]:
           far - дальняя зона ПВО
           middle - средняя зона ПВО
           near - ближняя зона ПВО

           [скрывать]       - hide="{true/false}"
           Отображать (false) или нет (true) "круг" зоны ПВО
      -->
      <antiAir>
        <far reDraw="true" hideLabel="false" hide="false">
          <circle thickness="1" color="0xff0000" alpha="0.9" />
        </far>
        <middle reDraw="true" hideLabel="false" hide="false">
          <circle thickness="1" color="0xff0000" alpha="0.7" />
        </middle>
        <near reDraw="true" hideLabel="false" hide="false">
          <circle thickness="1" color="0xff0000" alpha="0.5" />
        </near>
      </antiAir>

      <!--
           Настройки "дистанции" ПМК
           <secondary [Стандартные настройки "дистанции"]>
           [Стандартные настройки "круга"]
           </secondary>
      -->
      <secondary reDraw="true" hideLabel="false">
        <circle thickness="1" color="0x00ff00" alpha="0.7" />
      </secondary>
    </armament>

    <!--
         Настройки "дистанций" стрельбы
         <shooting [скрывать неактивную]>
         <[Тип] [Стандартные настройки "дистанции"]>
         [Стандартные настройки "круга"]
         </[Тип]>
         </shooting>

         [скрывать неактивную] - hideInactive="{true/false}"
         Скрывать (true) или нет (false) "круг" неактивного вооружения
         По умолчанию: false

         [Тип]:
         main - основной калибр
         torpedoes - торпедное вооружение
    -->
    <shooting hideInactive="false">
      <main reDraw="true" hideLabel="false">
        <circle thickness="1" color="0xffffff" alpha="1.0" />
      </main>

      <torpedoes reDraw="true" hideLabel="false">
        <circle thickness="1" color="0xffffff" alpha="1.0" />
      </torpedoes>
    </shooting>

    <!--
         Настройки "дистанций" обнаружения
         <visibility>
         <[Тип] [Стандартные настройки "дистанции"]>
         [Стандартные настройки "круга"]
         [Настройки заливки "круга"]
         </[Тип]>
         [Дистанция обнаружения с поверхности, после выстрела ГК]
         </visibility>

         [Тип]:
         surface - обнаружение с поверхности
         aerial - обнаружение с воздуха

         [Настройки заливки "круга"]
         <fill [цвет] [прозрачность]/>

         [цвет]         - color="{целое число}"
         Задает цвет заливки "угла обзора".
         По умолчанию: 0xffffff

         [прозрачность] - alpha="{число от 0 до 1}"
         Задает прозрачность заливки "круга". 1 - полностью НЕпрозрачно. 0 - полночтью прозрачно.
         По умолчанию: 0
    -->
    <visibility>
      <surface reDraw="true" hideLabel="false">
        <fill color="0x00ffff" alpha="0.10" />
      </surface>
      <aerial reDraw="true" hideLabel="false">
        <circle thickness="1" color="0x00ffff" alpha="0.5">
          <dash />
        </circle>
      </aerial>
      <surfaceMGShootInSmoke>
        <circle thickness="1" color="0x00ffff" alpha="0.25" />
      </surfaceMGShootInSmoke>
    </visibility>

    <!--
         Настройки "кругов" бастиона
         <bastion>
         <[Тип] [Стандартные настройки "дистанции"] [скрывать]>
         [Стандартные настройки "круга"]
         Настройки заливки "круга"
         </[Тип]>
         </bastion>

         [Тип]:
         shooting - "круг" обстрела форта
         visibility - "круг" засвета поста наблюдения

         [скрывать]   - hide="{true/false}"
         Отображать (false) или нет (true) указаный "круг"
         По умолчанию: false

         Настройки заливки "круга"
         <fill [цвет] [прозрачность]/>

         [цвет]         - color="{целое число}"
         Задает цвет заливки "угла обзора".
         По умолчанию: 0xffffff

         [прозрачность] - alpha="{число от 0 до 1}"
         Задает прозрачность заливки "круга". 1 - полностью НЕпрозрачно. 0 - полночтью прозрачно.
         По умолчанию: 0
    -->
    <bastion>
      <shooting reDraw="true" hideLabel="false" hide="true" />
      <visibility reDraw="true" hideLabel="false" hide="false">
        <fill color="0x00c800" alpha="0.05" />
      </visibility>
    </bastion>
  </ranges>

  <!--
       Настройки переключения режимов отображения
       <altVision>
       <[Тип] [начальное состояние] [изменяемо] [переключать на "удержании"]/>
       </altVision>

       [Тип]:
       labels - текстовые метки маркеров.
       Вкл. или выкл. отображение текстовых меток маркеров можено прямо в ходе боя.
       За это отвечает клавиша "Альтернативный вид интерфейса" (по умолчанию это Alt)
       Соответсвующая "галочка" никакого влияния на это не оказывает.

       sunked - маркеры уничтоженных кораблей
       Вкл. или выкл. отображение маркеров уничтоженных кораблей прямо в ходе боя.
       За это отвечает клавиша "Показывать уничтоженные корабли" (по умолчанию это ])

       [начальное состояние]        - initial="{true/false}"
       Отображать (true) или нет (false) на начало боя
       По умолчанию: false

       [изменяемо]                  - isPermanent="{true/false}"
       Может (false) или нет (true) это меняться в ходе боя
       По умолчанию: false

       [переключать на "удержании"] - switchOnHold="{true/false}"
       Происходит ли смена при "удержании" (true) или при "нажатии" (false)

       По умолчанию, настроено так, что:
       1. На "старте": текстовые метки - видны, "утопленники" - видны
       2. Каждое нажатие клавиш Alt/], соответсвенно, меняет их видимость. Если они были видны, становятся не видны. И наоброт.
  -->
  <altVision>
    <labels switchOnHold="false" active="false" />
    <sunked switchOnHold="false" />
    <!-- В новой версии этот тэг не поддерживается
    -->
  </altVision>

  <!--
       Словарь автозамены
       Каждый элемент словаря имеет следующую структуру:
       <item [что заменять] [на что заменять]/>

       [что заменять]    - key="{строка}"
       Строка, _которую_ надо будет заменить. Регистр букв значения не имеет

       [на что заменять] - value="{строка}"
       Строка, _на которую_ надо будет заменить. При замене, регистр букв сохраняется

       При формировании текстовой метки значения всех спец. символов за исключением %nickname% проверяются по этому словарю.
       Если что-то нашлось, то в текст метки попадает не само значение, а то, на что его надо заменить
  -->

  <formatter>
    <item key="russia" value="RU" />
    <item key="usa" value="US" />
    <item key="japan" value="JP" />
    <item key="germany" value="DE" />

    <item key="Iwaki Alpha" value="IwakiA" />
  </formatter>

  <!--
       Настройки team.Aware
       <teamAware>
        [Настройки "засвета"]
        [Настройки спец. указателей]
       </teamAware>
       
       [Настройки "засвета"]
       <onSpotted>
         <[Тип]>
           [Визуальные эффекты]
         </[Тип]>
       </onSpotted>
      
       [Тип]:
       ally   - союзник/сокомандник
       friend - соотрядник

       [Визуальные эффекты]
       Аналогично визуальным эффектам текстовых меток

       
       [Настройки спец. указателей]
       <mapDraw ["время жизни" указателей]/>
       ["время жизни" указателей] - arrowTTL="{число}"
       Время (в секундах) в течении которого видно указатель.
  -->
  <teamAware>
    <onSpotted>
      <ally>
        <glow color="0xffc800" alpha="1" x="4" y="4" strength="2"/>
      </ally>
      <friend>
        <glow color="0x64ff00" alpha="1" x="4" y="4" strength="2"/>
      </friend>
    </onSpotted>
    <mapDraw arrowTTL="10" />
  </teamAware>
</alt_minimap>
